@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root
{
    --cor1: #EFE6CD;
    --cor2: #7D8758;
    --fonte1: "Alegreya Sans", sans-serif;
    --fonte2: "Sometype Mono", monospace;
}

*
{
    padding: 0px;
    margin: 0px;
    
}


#cabecalho
{
    background-image: linear-gradient(to bottom, var(--cor2) , #3b3f2a);
    text-align: center;
    color: var(--cor1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.481);
    padding: 20px;
    margin-bottom: 3%;
}

#cabecalho > h1
{
    font-family: var(--fonte1);
    font-weight: 900;
    font-size: 2.5em;
    
}

#cabecalho > p
{
    font-family: var(--fonte2);
    max-width: 500px;
    padding: 34px;
    margin: auto;
}
nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav > a
{
    border-radius: 10px;
    padding: 1%;
    color: var(--cor1);
    text-decoration: none;
    font-family: var(--fonte2);
    transition-duration: .5s;
}

nav > a:hover
{
    box-shadow: 0px 0px 5px 1px var(--cor1);
    background-color: #7d875832;
}
.principal
{
    border-radius: 10px;
    background-color: var(--cor1);
    margin: auto;
    max-width: 800px; 
    min-width: 280px;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.481);
}

a
{
    text-decoration: none;
}
.principal a:hover
{
    color: #7D8758;
}
.principal a::after
{
    content: "\1F517";  
}

.Titulos
{
    font-size: 2.5em;
    color: #7D8758;
    background-image: linear-gradient(to left, #7d875820 , transparent);
    font-family: var(--fonte1);
    font-weight: 900;
    text-indent: 3px;

}

.paragrafos
{
    margin: 10px;
    text-align: justify;
    font-family:  var(--fonte2);
    text-indent: 30px;
    font-weight: 600;
    line-height: 2em;
}
strong
{
    color: #7D8758;
}
img
{
    width: 100%;
    border-radius: 10px;
}  

.bugdroid
{
    display: block;
    width: 50%;
    margin: auto;
}
.video
{
    display: flex;
    justify-content: center;
    margin: 2%;
}
aside
{
    border-radius: 10px;
    box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.365);

}
aside .Titulos
{
    background-image: none
}

aside > ul
{
    list-style-position: inside;
    padding: 20px;
    columns: 2;

    list-style: circle;
}

footer > p
{
    text-align: center;
}

.rodape
{
    box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.481);    
    margin-top: 3%;
    text-align: center;
    padding: 25px;
    color: var(--cor1);
    font-family: var(--fonte2);
    text-indent: 30px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, var(--cor2) , #3b3f2a);
}