@charset "UTF-8";


body
{
    background-color: gray;
}

div
{
    display: flex;
    justify-content: center;
    position: relative;
    
}

div > input
{
    display: none;
    
}

div > label > img
{
    
    width: 100px;
    height: 100px;
    padding-bottom: 40px;
    object-fit: cover;
    
}

label
{
    position: absolute;
    top: 40%;
    transform-origin: translateY(0%);
    transition: transform-origin 0.5s opacity 2s;
    
}

#img00
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: none;
    opacity: 0;
    
    
}



#imenu:checked ~ * #img00
{   
    position: absolute; 
    transform-origin: translateY(50%);
    opacity: 1;
    display: block;
}