@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: gray;
}

div
{
    display: flex;
    justify-content: center;
    position: relative;
    
}

div > input
{
    display: none;
    
}

div > label > img
{
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 40px;
}



#img00
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40%;
    left: 45%;
    transition: visibility 0.5s, opacity 0.5s;
}



#imenu:checked ~ * #img00
{   
    visibility: visible;
    opacity: 1;
}