@charset "UTF-8";


@media screen and (min-width: 992px) and (max-width: 1200px)
{
    main
    {
        margin: auto;
        width: 990px;
    }

    #titulo-main
    {
        padding: 70px 0px 0px 55px;
    }
    .conteudo
    {
        padding-bottom: 10px;
    }
    .animes
    {
        width: 280px;
        height: 400px;
    }

    #naruto-png
    {
        width: 200px;
    }

    #aot-png
    {
        width: 200px;
    }

    #jjk-png
    {
        width: 200px;
    }
    
    #dbs-png
    {
        width: 200px;
    }

    #solo-png
    {
        width: 200px;
    }
    
    #tk-png
    {
        width: 200px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px)
{
    main
    {
        margin: auto;
        width: 990px;
    }
    #titulo-main
    {
        padding: 70px 0px 0px 55px;
    }
    .conteudo
    {
        padding-bottom: 10px;
    }
    .animes
    {
        width: 280px;
        height: 400px;
    }

    #naruto-png
    {
        width: 200px;
    }

    #aot-png
    {
        width: 200px;
    }

    #jjk-png
    {
        width: 200px;
    }
    
    #dbs-png
    {
        width: 200px;
    }

    #solo-png
    {
        width: 200px;
    }
    
    #tk-png
    {
        width: 200px;
    }
}

@media screen and (min-width: 1300px)
{
    main
    {
        margin: auto;
        width: 990px;
    }
    #titulo-main
    {
        padding: 70px 0px 0px 55px;
    }
    .conteudo
    {
        padding-bottom: 10px;
    }
    .animes
    {
        width: 280px;
        height: 400px;
    }

    #naruto-png
    {
        width: 200px;
    }

    #aot-png
    {
        width: 200px;
    }

    #jjk-png
    {
        width: 200px;
    }
    
    #dbs-png
    {
        width: 200px;
    }

    #solo-png
    {
        width: 200px;
    }
    
    #tk-png
    {
        width: 200px;
    }
    
}