@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: black;
    height: 100vh;
    max-width: 100vw;
}

main
{
    padding-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#img > img
{
    border: 1px solid white;
    box-shadow: 0px 0px 10px white;
    object-fit: cover;
    object-position: center top;
    border-radius: 8px;
    display: block;
    margin: auto;
    height: 500px;
    width: 360px;
    margin-bottom: 20px;
}

#titulo
{
    font-size: 1.7em;
    color: white;
    font-family: "Outfit", sans-serif;
    text-align: center;
    text-decoration: underline;
}

#sinopse
{
    padding-inline: 30px;
    font-family: "Outfit", sans-serif;
    text-align: justify;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 1.5em;
    color: white;
}

#iframe
{
    display: block;
    margin: auto;
    display: block;
    width: 530px;
}

#iframe > iframe
{
    
    width: 100%;
    box-shadow: 0px 0px 10px white;
}


@media screen and (min-width: 992px) and (max-width: 1200px)
{
    body
    {
        margin: auto;
        width: 90vw;
    }
    main
    {
        padding-top: 10px;
        margin-top: 0px;
        padding-bottom: 20px;
        gap: 3em;
    }
    #container
    {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    #img > img
    {
        width: 400px;
        height: 550px;

    }
    #sinopse
    {
        line-height: 1.1em;
    }



}

@media screen and (min-width: 1200px) and (max-width: 1300px)
{
    body
    {
        margin: auto;
        width: 90vw;
    }
    main
    {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 0px;
        gap: 70px;

        
    }
    #container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #img > img
    {
        border: 1px solid white;
        box-shadow: 0px 0px 10px white;
        object-fit: cover;
        object-position: center top;
        display: block;
        margin: auto;
        width: 500px;
        height: 550px;
    }
    #sinopse
    {
        line-height: 1.1em;
        font-size: 1.5em;
    }
    #iframe > iframe
    {
        box-shadow: 0px 0px 10px white;
    }
}

@media screen and (min-width: 1300px)
{
    body
    {
        margin: auto;
        width: 90vw;
    }
    main
    {
        margin-top: 0px;
        padding-top: 30px;
        padding-bottom: 40px;
        gap: 7em;
    }
    #container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7em;
    }

    #img > img
    {
        border: 1px solid white;
        box-shadow: 0px 0px 10px white;
        border-radius: 8px;
        object-fit: cover;
        object-position: center top;
        width: 500px;
        height: 600px;

    }
    #sinopse
    {
        line-height: 1.1em;
        width: 500px;
        font-size: 1.5em;
    }

    #iframe
    {
        
        width: 1000px;
    }


}