*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root
{
    --colorOne: #011F26;
    --colorTwo: #A5A692;
    --colorThree: #BFB78F; 
}

/*
    #011F26; 
    #A5A692;  
    #BFB78F;  
*/

body
{
    background-color: var(--colorOne);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
}

main
{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 60px;
    background-color: var(--colorTwo);
    border-radius: 10px;
}


#container-input-card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

ul
{
    list-style: none;
    display: flex;
    gap: 4px;
}

ul img
{
    width: 50px;
    height: 40px;
    filter: grayscale(100%) opacity(0.8);
    transition: filter 0.5s;
}

#container-input-card input
{
    width: 250px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    text-indent: 5px;
    color: black;
    box-shadow: 0px 0px 5px var(--colorOne);
    border: none;
    transition: box-shadow 0.5s ease-in-out;
}

#container-input-card input:focus
{
    box-shadow: 0px 0px 10px var(--colorOne);
}
#span
{
    font-size: 0.7rem;
    font-weight: 600;
    margin-block: 8px;
}
#container-info-card
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    position: relative;
}

#cvv-infos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.showoff-cvv
{
    font-size: 0.7rem;
    font-weight: 600;
    color: #A5E381;
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.show-cvv
{
    margin-top: 5px;
    position: absolute;
    top: 99%;
    left: -1%;
    visibility: visible;
    opacity: 1;
    transform: scale(1.0);
    transition: all 0.5s ease-in-out;
}
#icvv, #idate
{
    width: 65.5px !important;
    text-indent: 2px !important;
    text-align: center;
    padding-right: 2px;
    transition: border 0.5s ease-in-out;

}


#container-payment-value
{
    display: flex;
    flex-direction: column;
    align-items: end !important;
    gap: 6px;
    padding-right: 5px;
}

#container-promo
{
    display: flex;
    gap: 6px;
    align-items: center;
}

#container-promo > input
{
    width: 89px;
    height: 26px;
    color: black;
    outline: none;
    border-radius: 10px;
    text-indent: 5px;
    border: none;
    box-shadow: 0px 0px 5px var(--colorOne);
    transition: box-shadow 0.5s ease-in-out;
}

#container-promo > input:focus
{
    box-shadow: 0px 0px 10px var(--colorOne);
}

#container-promo > button
{
    height: 26px;
    width: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px var(--colorOne);

}

#container-value
{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

#payment-finale
{
    background-color: var(--colorOne);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin: 20px auto;
}
